# Keep the distributed package small: none of this is needed by a consuming application.
/tests            export-ignore
/.github          export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/phpunit.xml      export-ignore
/Dockerfile.test  export-ignore
